html {
scroll-behavior: smooth;
}
body{
	background-color: #2C3C50;
	color: #fff;
	font-family: Raleway !important;
}
main{
	padding: 16px;
	height: 700px;
    overflow: hidden;
}
.container-fluid{
	padding: 0px;
}
.wrapper{}
header{}
header .header-img-logo{
	padding:20px;
	margin-bottom:30px;
	position: relative;
}
header .header-img-logo img {
	width: 100%;
	max-width: 80px;
	position: absolute;
	right: 20px;
}
#center-box .center-box-design{
	border: 1px solid #aaa;
    background: #fff;
    width: 360px;
    height: 360px;
    padding: 20px;
    border-radius: 83px;
    transform: rotateZ(45deg);
    margin-left: -105px;
    margin-top: 75px;
    margin-bottom: 60px;
    overflow: hidden;
}
#center-box .center-box-design .center-box-content{
	transform: rotateZ(-45deg);
	color: #2C3C50;
	padding-top: 60px;
    padding-left: 45px;
}
#center-box .center-box-design .center-box-content h5{
	font-size: 1.8rem;
	font-weight: 600;
	color: #384A58;
}
#center-box .center-box-content h3{
	font-size: 2.5rem;
	font-weight: 700;
}
#center-box .center-box-content h6{
	margin-top: 10px;
    margin-left: 35px;
    padding-left: 15px;
    position: relative;
}
#center-box .center-box-content .bar::after{
	content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 15px;
    padding: 2px;
    background: #2C3C50;
    position: absolute;
    left: 0px;
    top: 6px;
}
#center-box .center-box-content .bar::before{
	content: '';
    display: block;
    width: 25px;
    border: 1px solid #2C3C50;
    position: absolute;
    left: -32px;
    top: 8px;
}
#center-box .btn-next-home-cover{
	position: absolute;
    bottom: 180px;
    right: 52px;
}
#center-box .next-home{
	background: #051d39;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 50px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 3px;
}
#center-box .next-home i{
	padding-left: 8px;
    font-size: 17px;
}

#bottom-box{
	position: relative;
}
#bottom-box .bottom-box-design{
	border: 1px solid #aaa;
    background: #fff;
    width: 245px;
    height: 185px;
    padding: 20px;
    border-radius: 60px;
    transform: rotateZ(45deg);
    margin-left: 255px;
    margin-top: 0px;
    overflow: hidden;
}


/*NAV TABS*/

.bottom-tabs{
	position: fixed;
	bottom:0;
	left: 0;
	width: 100%;
	padding:10px 15px;
	border-radius: 50px;
	background: #fff;
	color: #2C3C50;
	border:1px solid #2C3C50;
}

/*==========================
        SCROLLBAR CSS
===========================*/
::-webkit-scrollbar {
    width: 12px;
    background-color: #000; 
}
::-webkit-scrollbar-thumb {
    background-color: #555;
        border-radius: 10px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #fff;
}
.scrollbar {
    background-color: #F5F5F5;
    float: left;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
