html {
scroll-behavior: smooth;
}
body{
	/*background-color: #2C3C50;*/
	background: rgba(44,60,80,1);
background: -moz-linear-gradient(top, rgba(44,60,80,1) 0%, rgba(44,60,80,1) 39%, rgba(138,112,138,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(44,60,80,1)), color-stop(39%, rgba(44,60,80,1)), color-stop(100%, rgba(138,112,138,1)));
background: -webkit-linear-gradient(top, rgba(44,60,80,1) 0%, rgba(44,60,80,1) 39%, rgba(138,112,138,1) 100%);
background: -o-linear-gradient(top, rgba(44,60,80,1) 0%, rgba(44,60,80,1) 39%, rgba(138,112,138,1) 100%);
background: -ms-linear-gradient(top, rgba(44,60,80,1) 0%, rgba(44,60,80,1) 39%, rgba(138,112,138,1) 100%);
background: linear-gradient(to bottom, rgba(44,60,80,1) 0%, rgba(44,60,80,1) 39%, rgba(138,112,138,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c3c50', endColorstr='#8a708a', GradientType=0 );
	color: #fff;
	font-family: 'Raleway';
	font-family: 'Poppins';
}
main{
	padding: 16px;
	height: 700px;
    overflow: hidden;
}
.container-fluid{
	padding: 0px;
}
.wrapper{}
header{}

/*menu button*/
/* -----------------------
		# Header
-------------------------*/
nav{	
	background:#ffffff; 
	transition: all 0.5s;
	z-index: 0;
	box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}	
nav .navbar-brand{
	width:100px;
	transition: all 0.3s;
}
nav ul li{
	font-family:Quicksand;
	font-weight: 500;
	font-size: 18px;
	padding:0 15px;
}
nav .nav-item{
	color:#eee;
}
.nav-item .nav-link{color:#2c3c50;}
li.nav-item .nav-link {
    background: #fff;
    margin: 4px 0;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
}
nav .nav-item:hover
{
	color:#fff;
}
.navbar-light .navbar-nav .nav-link{
	z-index:0;
	color:#555;
	font-weight: 700;
}
.navbar-nav a.nav-link i {
    margin-right: 14px;
    margin-left: 8px;
    font-size: 18px;
    color:#2c3c50;
}
.navbar-light .navbar-nav .nav-link:hover{
	color:#aaa;
	transition: 0.2s;
	font-weight: 700;
}
nav.navbar.shrink {
  min-height: 10px;
  background: #ffffff;
}
nav.navbar{
    Animation
   -webkit-transition: all 0.5s ease;
   transition: all 0.5s ease;
}
nav.shrink a {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  font-size: 17px;
}
nav .navbar-toggler-icon{
	font-size:120%;
	padding:2px;
}
nav.shrink .navbar-toggler-icon{
	font-size:90%;
	padding:2px;
	border:none !important;
}

nav.shrink .navbar-toggler {
  	padding: 4px 5px;
  	margin: 8px 0;
  	background: #ffffff;
  	border:none !important;
}

nav.shrink .navbar-brand {
  width:50px;
  padding:0;
  margin:0;
}

@media only screen and (max-width: 640px){          
 nav .navbar-brand{
	width:60px;
	transition: all 0.3s;
	}
 #navbarResponsive{
	text-align: center;
	    margin-top: 14px;
	}	
}
@media only screen and (max-width: 990px){   
 #navbarResponsive{
	text-align: center;
	    margin-top: 14px;
	}
}
/* styles for new menu bt  */

.navbar-toggler{
	display:none;
}
.menu_container {
    display: inline-block;
    cursor: pointer;
    transform: rotateZ(45deg);
	background: #fff;
   	padding: 14px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: -27px;
    margin-left: -35px;
    padding-left: 40px;
    border-radius: 22px;
}


.bar1, .bar2, .bar3 {
    height: 5px;
    background-color: #051d39;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 20px;
  
}
.bar1{
  width: 30px;
  margin-left: 5px;
}
.bar2{
	width:40px;
}
.bar3{
	width:30px;
	margin-left: 5px;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 7px);
    transform: rotate(-45deg) translate(-7px, 7px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -7px);
    transform: rotate(45deg) translate(-7px, -7px);	
}
/*menu button*/

header .header-img-logo{
	padding:20px;
	margin-bottom:30px;
	position: relative;
}
header .header-img-logo img {
	width: 100%;
	max-width: 80px;
	position: absolute;
	right: 20px;
}
#center-box .center-box-design{
	border: 1px solid #aaa;
    background: #fff;
    width: 360px;
    height: 360px;
    padding: 20px;
    border-radius: 83px;
    transform: rotateZ(45deg);
    margin-left: -105px;
    margin-top: 75px;
    margin-bottom: 60px;
    overflow: hidden;
}
#center-box .center-box-design .center-box-content{
	transform: rotateZ(-45deg);
	color: #2C3C50;
	padding-top: 60px;
    padding-left: 45px;
}
#center-box .center-box-design .center-box-content h5{
	font-size: 1.8rem;
	font-weight: 600;
	color: #384A58;
}
#center-box .center-box-content h3{
	font-size: 2.5rem;
	font-weight: 700;
}
#center-box .center-box-content h6{
	margin-top: 10px;
    margin-left: 35px;
    padding-left: 15px;
    position: relative;
}
#center-box .center-box-content .bar::after{
	content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 15px;
    padding: 2px;
    background: #2C3C50;
    position: absolute;
    left: 0px;
    top: 6px;
}
#center-box .center-box-content .bar::before{
	content: '';
    display: block;
    width: 25px;
    border: 1px solid #2C3C50;
    position: absolute;
    left: -32px;
    top: 8px;
}
#center-box .btn-next-home-cover{
	/*position: absolute;
    bottom: 180px;
    right: 52px;*/
	position: relative;
    bottom: 140px;
    right: -130px;
}
#center-box .next-home{
	background: #051d39;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 50px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 3px;
}
#center-box .next-home i{
	padding-left: 8px;
    font-size: 17px;
}

#bottom-box{
	position: relative;
}
#bottom-box .bottom-box-design{
	border: 1px solid #aaa;
    background: #fff;
    width: 245px;
    height: 185px;
    padding: 20px;
    border-radius: 60px;
    transform: rotateZ(45deg);
    margin-left: 255px;
    margin-top: 0px;
    overflow: hidden;
}


/*Ripple EFFECT Button*/

/* Ripple effect */
.ripple {
  background-position: center !important;
  transition: background 0.8s !important;
}
.ripple:hover {
  background: #051d39 radial-gradient(circle, transparent 1%, #2c3c50 1%) center/15000% !important;
}
.ripple:active {
  background-color: #2c3c50 !important;
  background-size: 100% !important;
  transition: background 0s !important;
}

/* Button style */
button {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #2196f3;
  //box-shadow: 0 0 4px #999;
  outline: none;
}
.btn:focus{
box-shadow: none;	
}
/*Ripple EFFECT Button*/


/*NAV TABS*/

.bottom-tabs{
	position: relative;
    top: 140px;
    left: 0;
    width: 100%;
    padding: 0px 0px;
    border-radius: 50px;
    color: #2C3C50;
    //border: 1px solid #fff;
    padding-bottom: 180px;
}
.nav.nav-tabs#myTab{
	position: fixed;
	z-index: 9;
    bottom: -2px;
    left: -2px;
    display: flex;
    flex-direction: row;
    width: 101%;
    border-radius: 25px 25px 0px 0px;
    background: #2C3C50;
    flex-flow: row;
    justify-content: center;
    border-bottom:0;
    border: 1px solid #fff;
    //box-shadow: 1px 1px 3px 1px rgba(130,98,94,.2);
    //box-shadow: 0 18px 44px 0 rgba(0,0,0,.2);
}
.bottom-tabs #myTab li.nav-item {
    padding: 0px 14px;
    background: none;
}
.bottom-tabs #myTab li.nav-item .nav-link{
	padding: 4px 14px;
	color:#fff;
	background: none;
	font-size: 24px;
}
.bottom-tabs #myTab li.nav-item .nav-link a{
	color:#fff;
}
.bottom-tabs #myTab .nav-item.show .nav-link i, 
.bottom-tabs #myTab .nav-item .nav-link.active i{
	opacity: 0.7;
	transition: all 0.1s;
}
.bottom-tabs #myTab .nav-item.show .nav-link,
.bottom-tabs #myTab .nav-link.active{
	border: 0;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
	border: 0;
}


/*==========================
        SCROLLBAR CSS
===========================*/
::-webkit-scrollbar {
    width: 12px;
    background-color: #000; 
}
::-webkit-scrollbar-thumb {
    background-color: #555;
        border-radius: 10px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #fff;
}
.scrollbar {
    background-color: #F5F5F5;
    float: left;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}



/*HOME PAGE STYLES*/
.mycontainer{
	padding: 14px;
	overflow: hidden;
	padding-top: 78px;
    margin-top: -65px;
}
#myTabContent{
	width: 100%;
	padding:24px 0px;
	border-radius: 50px;
	//background: #fff;
	color: #2C3C50;
	//border:1px solid #2C3C50;
	padding-bottom: 200px;
}
.main-tab-content{
	margin-top: -85px;
}
.home-head{
	position: absolute;
    background: #fff;
    border: 2px solid #2C3C50;
    width: 100%;
    border-radius: 40px;
    padding: 12px 10px;
    left: -95px;
    top: -205px;
    padding-left: 98px;
}
.home-head h2{
	margin-left: -2px;
	font-weight: 700;
}
.home-head h6{
	color: #bfc4ca !important;
	text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}
.home-head h6 i {
    font-size: 3px;
    margin: 2px;
}
.home-head2{
	position: relative;
    background: #fff;
    border: 2px solid #2C3C50;
    width: 100%;
    border-radius: 40px;
    top: -25px;
    padding: 12px 55px 0px 14px;
    right: -50px;
    text-align: right;
}
.home-head-quote p{
	font-size: 14px;
}
.home-quote{
    padding: 0px 4px;
}
.mycard{
	border-radius: 20px;
	//box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
	box-shadow: 0 2px 10px rgba(0,0,0,0.3);
	transition: all 0.2s ease-in-out;
	font-size: 14px;
	margin-bottom: 20px;
}
.mycard:hover,.mycard:active{
	//box-shadow: 0 1px 6px 0 rgba(44,54,80,.80);
	box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}
.mycard .heading{
	text-align: center;
	font-size: 24px;
}
.mycard .card-img-cover{
	padding: 10px 10px 0px 10px;
}
.mycard img.card-img-top{
	padding: 0px;
}
.mycard#card-service img.card-img-top{
	margin-top: -30px;
}
.mycard .card-body{
	padding: 20px 12px;
}
.mycard .card-body i{
	font-size: 22px;
	width: 30px;
}
.mycard .card-body p.procedurelist{
	font-size: 18px;
}
.mycard .card-body .card-title{

}
.mycard .card-body a.letsgo{
	margin: 0 auto;
    text-align: center;
    display: block;
    border-radius: 25px;
    width: 80%;
    color: #fff;
    background: #2C3C50;
}

#card-service .card-body{
	text-align: center;
}
#card-service .card-body div.service-img{
	text-align: center;
	margin-top: 30px;
}
#card-service .card-body h6.servicelist{
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	padding: 10px;
	margin-bottom: 0;
}

/*portfolio item css*/
.portfolio-item p{
	padding: 5px;
}
.portfolio-item img{
	border-radius: 20px;
	box-shadow: 0 1px 6px 0 rgba(44,54,80,.80);
}
/*portfolio item css*/

/*HOME PAGE STYLES*/